html{
    margin:0;
    border:0;
}

body{
    background-color:#cfdfff;
}



h1{
    text-align: center;
    font-family: 'Monstreat',sans-serif;
}

#start{
    cursor:pointer;
    max-width:600px;
    margin-left:450px;
    margin-top:50px;
    
}

.player1{
    flex-grow:1; 
    
}

.heading{
    margin-left:50px;
    font-size:20px;
    font-family:'Monstreat',sans-serif;
}

 .player2{
    flex-grow: 1; 
    margin-left:250px;
}


.game{
    display:flex;
    font-weight: 400;
}

.player1 img{
   
    display:flex;
    height:50%;
    width:150px;
    margin: 100px 20px;
    cursor:pointer;
} 

.player2 img{
    display:flex;
    height:50%;
    margin: 100px 100px;
    width:150px;
}

.choose{
    margin:auto;
    display: flex;
    width:150px;

}

#select{
    display:flex;
    margin-left:250px;
}

p.result{
    text-align: center;
    margin-left:0;
    font-weight:500;
}

#restart{
    color:green;
    cursor:pointer;
    margin:auto;
    max-width:50px;
    display: block;
    
}


@media screen and (max-width:900px){
    #start{
        margin-left:80px;
        margin-top:90px;
        width:350px;
    }

    h1{
       font-size:30px;
       font-family: 'Monstreat',sans-serif;
       margin-left:100px;
       white-space: nowrap;
    }

    .player1 img{
   
        display:flex;
        height:50%;
        width:150px;
        margin: 100px 10px;
        cursor:pointer;
    } 
    

    .player2 img{
        display:flex;
        height:50%;
        margin: 100px 100px;
        
    }

    #select{
        display:flex;
        margin-left:50px;
    }
}